*{
   padding: 0;
   margin: 0; 
   box-sizing: border-box;
   font-family: 'Poppins', sans-serif;
}
:root{
    --blue:#0654e4;
    --red:#e90606;
}
body{
    min-height: 100vh;
    background:linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.1),rgba(0, 0, 0, 0.2)),url("img/e55398302005d004808c35d70b6179bc.gif");
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
header{
    width: 100vw;
    height: 50px;
    padding: 0 2rem;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
}
nav ul li{
    list-style: none;
    border: .2rem solid transparent;
    padding-bottom: .5rem;
}
nav ul li a{
    font-size: 1.3rem;
    font-weight: 400;
    color: #ffff;
    text-decoration: none;
}
nav ul li:hover{
    border-bottom-color:var(--blue);
}
/**/

.home{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 1.5rem;
}
.home h1{
    font-size: 5rem;
    font-weight: bold;
    color: var(--blue);
    -webkit-text-stroke: .1rem  #fff;
}
.home p{
    font-size: 2rem;
    font-weight: 400;
    color: var(--red);
    border-bottom: .3rem solid #ffff;
}
.home a{
    text-decoration: none;
    font-size: 1.3rem;
    padding: .5rem 3rem;
    background: var(--blue);
    border-radius: .1rem;
    color: #ffff;
    border: .1rem solid #ffff;
}